ul{
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0;
  text-align: center;
}
ul li{
  display: inline-block;

}
ul li a{
  color:#ffffff;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: blueviolet;
  padding: 10px;
  margin: 0px 5px;
  border: 2px;
  border-bottom-style: solid;
  border-color: #939396;
  text-transform: uppercase;
}
